

html, body {
margin: 0px;
padding: 0px;
}
@font-face {
	font-family: wool;
	src: url('font/Wool.otf');
}

body {
font-family: wool;
font-size: 13px;
color: #3F4554;
text-align: center;
line-height: 1.8em;
}


#wrapper {
width: 800px;
margin: 15px auto 15px auto;
padding: 0px;
text-align: left;
border: solid 1px #dadada;
}
#header {
width: 100%;
height: 400px;
background-color: #f1f1f1;
border-bottom: solid 1px #dadada;
}
#container {
width: 100%;
height: auto;
margin: 0px;
padding:2px 0px;
background-image: url(divider.gif);
background-repeat: repeat-y;
background-position: 200px 0px;
}

#icon {
	border-right: 1px solid #dedede;
	float: left;
	line-height: 16px;
	margin-right: 10px;
	padding-right: 10px;
	}
	
#left {
width: 345px;
height: auto;
float: left;
padding: 20px;
margin: 0px;
}

#left a:link, #left a:visited, #left a:active  {
font-size: 5.667em;
line-height:90%;
text-decoration: none;
color: #333;
}
#right {
font-family: courier new;
width: 345px;
height: auto;
float: left;
padding: 20px;
margin-left: 28px;
text-align: justify; text-justify: newspaper
}

#right p {
margin: 0px;
}
.clearer {
font-size: 0px;
height: 0px;
width: 100%;
display: block;
clear: both;
}

#footer {
padding: 20px;
margin: 0px;
border-top: solid 1px #dadada;
text-align: left;
}
#footer p {
margin: 0px auto 0px auto;
padding: 10px 0px 10px 0px;
color: #aaa;
}
#footer a:link, #footer a:visited, #footer a:active {
color: #aaa;
text-decoration: none;
}
#footer a:hover {
color: #ccc;
text-decoration: none;
}

